/*Utility Components*/
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

/*Navbar*/
.navbar {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  padding: 1.5rem 6rem;
  z-index: 99;
  transition: top 0.3s ease, backdrop-filter 0.3s ease;
  border-radius: 0 0 2px 2px;
  z-index: 9;
  /* background: red; */
  
  /* border: 2px solid red; */
}

.navbar.scrolled {
  top: 0;
  background: var(--white-1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
  /* border: 2px solid magenta; */
}
.nav-logo {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--black-1);
}

.grid-toggle{
  display: none;
  width: 28px;
  height: auto;
  cursor: pointer;
}

.close-toggle{
  display: none;
  position: absolute;
  bottom: 15px;
  right: 20px;
  width: 28px;
  height: auto;
  cursor: pointer;
}

.navbar-menu {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: center; 
  gap: 1rem; 
  transition: transform 0.3s ease;
}

.navbar-menu a {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  width: auto;
  padding: 0.5rem;

  /* border: 2px solid red; */
  margin-left: 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--black-1);
  /* transition: color .3s ease; */
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.navbar-menu a:hover {
  color: #000000;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.navbar-menu a img {
  display: none;
  margin-bottom: 0.5rem;
}

/*End Navbar*/

/*Home*/
.home {
  padding: 280px 0 0 0;
  height: 100%;
  background: var(--white-1);
  /* border: 2px solid red; */
  margin: 0 auto;
  z-index: 1;
}

.home-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
    gap: 5rem;
    padding: 0 3rem;

    
  /* border: 2px solid red; */
}

.home-txt {
  /* border: 2px solid blue; */
  position: relative;
}

.home-txt h1,
.home-txt p {
  margin-bottom: 1rem;
}

.home-txt h1 {
  display: flex;
  align-items: center;
  color: var(--black-1);
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 1.2;
  /* text-wrap: wrap; */
  /* border: 2px solid blue; */
}

.home-txt .text {
  margin-right: 0.8rem;
  /* white-space: nowrap; */
}

.waving-hand {
  /* width: 80px;
  height: auto; */
  /* width: 80px; */
  width: 100%;
  max-width: 60px;
  height: auto;
}

.home-txt p {
  color: var(--gray-1);
  font-size: 1rem;
  line-height: 1.8;
}

.feather,
.tabler-icon {
  transition: color 0.3s ease;
  stroke: currentColor;
  cursor: pointer;
}

.feather:hover,
.tabler-icon:hover {
  color: var(--gray-2);
}

.tech-skills-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 200px;
    gap: .7rem;

    /* border: 2px solid red; */
}

.tech-skills-container p{
    font-size: 1rem;
    font-weight: 500;
    color: var(--black-1);
    border-right: 2px solid rgba(45, 46, 50, .5);
    margin: 0 3rem 0 0;
    padding-right: 2rem;
}

.tech-skills-container img {
    height: auto; 
    max-height: 40px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
  }

  .tech-skills-container img:hover {
    transform: scale(1.2); 
}

/* .home-img {
  border: 2px solid blue;
} */

/* .home-img img {
  width: 100%;
  height: auto;
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
} */

.home-img{
    background: url(/assets/img/home_img2.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    /* height: 550px;
    width: 550px; */
    box-shadow: 0 20px 5px 5px rgba(0, 0, 0, 0.2);
    animation: blob-animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;

    width: 100%; 
    height: auto;
    max-width: 350px;
    /* min-width: 300px; */
    aspect-ratio: 1/1;
    z-index: 1;
}

@keyframes blob-animate{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}


/*End Home*/

/*About*/
/*End About*/

/*Projects*/
/*End Projects*/

/*Contact*/
/*End Contact*/

/*Footer*/
/*End Footer*/
