
/*Utility Components*/
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.content {
  margin: 0 180px;
}

.p-text {
  color: var(--gray-1);
  font-size: 1rem;
  line-height: 1.8;
}

.p-text-m,
.p-text-l {
  color: var(--black-1);
}

.p-text-m {
  font-size: 1.1rem;
  font-weight: 500;
}

.p-text-l {
  font-size: 1.3rem;
  font-weight: 800;
}

.about,
.project {
  padding-top: 50px;
}

/* .home, 
.about {
  padding: 280px 0;
} */

/*Navbar*/
.navbar {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  padding: 1.5rem 6rem;
  z-index: 99;
  transition: top 0.3s ease, backdrop-filter 0.3s ease;
  border-radius: 0 0 2px 2px;
  z-index: 9;
  /* background: red; */

  /* border: 2px solid red; */
}

.navbar.scrolled {
  top: 0;
  background: var(--white-1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* border: 2px solid red; */
  /* border: 2px solid magenta; */
}
.nav-logo,
.footer-logo {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--black-1);
}

.footer-logo {
  color: var(--white-2);
}

.grid-toggle {
  display: none;
  width: 28px;
  height: auto;
  cursor: pointer;
}

.close-toggle {
  display: none;
  position: absolute;
  bottom: 15px;
  right: 20px;
  width: 28px;
  height: auto;
  cursor: pointer;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: transform 0.3s ease;
}

.navbar-menu a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: auto;
  padding: 0.5rem;

  /* border: 2px solid red; */
  margin-left: 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--black-1);
  /* transition: color .3s ease; */
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.navbar-menu a:hover {
  color: #000000;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.navbar-menu a img {
  display: none;
  margin-bottom: 0.5rem;
}

/*End Navbar*/

/*Home*/
.home {
  /* height: 100%; */
  padding: 280px 0;
  /* background: var(--white-1); */
  margin: 0 auto;
  z-index: 1;

  /* border: 2px solid red; */
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 0 3rem;

  /* border: 2px solid green; */
}

.home-txt {
  position: relative;

  /* border: 2px solid red; */
}

.home-txt h1,
.home-txt p {
  margin-bottom: 1rem;
}

.home-txt h1 {
  display: flex;
  align-items: center;
  color: var(--black-1);
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 1.2;

  /* text-wrap: wrap; */
  /* border: 2px solid blue; */
}

.home-txt .text {
  margin-right: 0.8rem;
  /* white-space: nowrap; */
}

.waving-hand {
  /* width: 80px;
  height: auto; */
  /* width: 80px; */
  width: 100%;
  max-width: 60px;
  height: auto;
}

.feather,
.tabler-icon {
  color: var(--black-1);
  transition: color 0.3s ease;
  stroke: currentColor;
  cursor: pointer;
}

.footer-icons .feather,
.footer-icons .tabler-icon {
  color: var(--white-2);
}

.feather:hover,
.tabler-icon:hover {
  color: var(--gray-1);
}

.tech-skills-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 20px;
  gap: 0.7rem;

  /* border: 2px solid red; */
}

.tech-skills-container p {
  border-right: 2px solid rgba(45, 46, 50, 0.5);
  margin: 0 3rem 0 0;
  padding-right: 2rem;
}

.tech-skills-container img {
  height: auto;
  max-height: 40px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.tech-skills-container img:hover {
  transform: scale(1.2);
}

/* .home-img {
  border: 2px solid blue;
} */

/* .home-img img {
  width: 100%;
  height: auto;
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
} */

.home-img {
  background: url(/assets/img/home_img2.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  /* height: 550px;
    width: 550px; */
  box-shadow: 0 20px 5px 5px rgba(0, 0, 0, 0.2);
  animation: blob-animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;

  width: 100%;
  height: auto;
  max-width: 350px;
  /* min-width: 300px; */
  aspect-ratio: 1/1;
  z-index: 1;
}

/*End Home*/

/*About*/

#about-section{
  scroll-margin-top: 200px;
}

.about {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 280px;
  /* padding: 100px 0; */
}

.about_ {
  /* border: 2px solid magenta; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 5rem;
}

.about-img-container {
  width: 100%;
  max-width: 350px;
  min-width: 350px;
}

.about-img-container img {
  width: 100%;
  height: auto;
  border-radius: 25px;
  background: linear-gradient(
    180deg,
    #d1cfd1 0%,
    #e6e6e8 25%,
    #efeff0 50%,
    #f6f7f9 75%,
    #fbfcfe 100%
  );
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.about-img-container img:hover {
  box-shadow: 0 20px 5px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-2deg);
}

/* .about-details-container {
  border: 2px solid yellow;
} */

.about-details-container h1,
.about-details-container h2,
.about-details-container p:first-of-type {
  margin-bottom: 1rem;
}

/* .about-details-container h1 {

} */

.about-details-container h2 {
  font-size: 1.3rem;
  color: var(--black-1);
  font-weight: 800;
}

.about-details-container p {
  text-align: justify;
  padding-right: 15px;
}

.dl-cv-container{
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
}

.dl-cv-btn {
  /* --main-focus: #2d8cf0; */
  /* --font-color: #dedede; */
  --bg-color-sub: #222;
  /* --bg-color: #323232; */
  --main-color: #dedede;

  position: relative;
  width: 180px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--black-1);
  border-radius: 10px;
  overflow: hidden;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 1rem;
}

.dl-cv-btn .button__text {
  transform: translateX(22px);
  color: var(--white-2);
  font-weight: 600;
  transition: color 0.3s ease, transform 0.3s ease;
}

.dl-cv-btn .button__icon {
  position: absolute;
  transform: translateX(135px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, width 0.3s ease;
}

.dl-cv-btn .svg {
  width: 20px;
  fill: var(--main-color);
}

.dl-cv-btn:hover {
  background: var(--black-1);
}

.dl-cv-btn:hover .button__text {
  color: transparent;
  transform: translateX(-20px);
}

.dl-cv-btn:hover .button__icon {
  width: 178px;
  transform: translateX(0);
}

.dl-cv-btn:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}

/*End About*/

/*Projects*/
#project-section{
  scroll-margin-top: 100px;
}

.project {
  padding-bottom: 200px;
}

/*.project_ {
  border: 2px solid blue;
} */

.project_ h1 {
  margin-bottom: 0.5rem;
}

.project-works-container {
  /* border: 2px solid magenta; */
  padding-top: 50px;
}

.p-works-content {
  /* border: 2px solid brown; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 0 80px;
  margin-bottom: 80px;
}

.p-works-img {
  max-width: 350px;
  width: 100%;
}

.p-works-img img {
  width: 100%;
  height: auto;
}

.p-works-text h1,
.p-works-text p,
.pwt-tools {
  margin-bottom: 1rem;
}

.p-works-text h1{
  font-weight: 700;
}

/* .p-works-text p{
  padding-right: 10px;
} */


.pwt-tools {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  
}

.pwt-tools h1 {
  padding: 5px 10px;
  border-radius: 10px;
  display: inline-block;
  color: var(--white-1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.pwt-tools h1:hover {
  transform: scale(1.1);
}

.pwt-tools .html {
  background: linear-gradient(to right, #e54c26, #f06429);
}

.pwt-tools .css {
  background: linear-gradient(to right, #274ce4, #2864f1);
}

.pwt-tools .js {
  background: linear-gradient(to right, #eacb30, #fedf24);
}

/* .pwt-tools h1 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.pwt-tools h1::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease;
}

.pwt-tools h1:hover::after {
  width: 100%; 
}

.pwt-tools h1:nth-child(1)::after {
  background-color: #ef642b;
}

.pwt-tools h1:nth-child(2)::after {
  background-color: #369cd6;
}

.pwt-tools h1:nth-child(3)::after {
  background-color: #f1da4f;
} */

.pwt-btns{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.btn-code,
.btn-demo{
  position: relative;
  background: none;
  border: none;
  font-size: .9rem;
  font-weight: 500;
  cursor: pointer;
  color: var(--black-1);
}

.btn-code i{
  font-size: 1.2rem;
}

.btn-code::after,
.btn-demo::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--black-1);
  transition: width 0.3s ease;
}

.btn-code:hover::after,
.btn-demo:hover::after {
  width: 100%; 
}
/*End Projects*/

/*Contact*/
.contact {
  /* border: 2px solid red; */
  padding-bottom: 100px;
}

/* .contact_ {
  border: 2px solid blue;
} */

.ct_socials-container{
  /* border: 2px solid magenta; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 0 0;
  gap: 5rem;
}

.social-details{
  /* display: inline-flex;   */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* border: 2px solid; */
}

.social-details img,
.sd-text p{
  cursor: pointer;
}

.p-text a {
  position: relative;
  color: var(--gray-1);
  text-decoration: none;
  transition: color 0.3s ease;
}

.p-text a::after{
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--black-1);
  transition: width 0.3s ease;
}

.p-text a:hover {
  color: var(--black-1);
}

.p-text a:hover::after {
  width: 100%;
}


.social-details img{
  max-width: 55px;
  width: 100%;
  background-color: var(--white-1);
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.social-details img:hover {
  transform: scale(1.2);
}

.contact_ h1 {
  margin-bottom: 0.5rem;
}

.sd-text h1{
  margin-top: 10px;
  font-weight: 700;
}

.sd-text p{
  margin-top: -5px;
}
/*End Contact*/

/*Scroll to top Arrow*/
.scroll-to-top {
  position: fixed;
  bottom: 70px; 
  right: 10px; 
  display: none;
  transition: opacity 0.3s ease; 
  z-index: 2;
}

.scroll-to-top img {
  width: 44px;
  height: 44px; 
}

.scroll-to-top.show {
  display: block;
}
/*End Scroll to top Arrow*/

/*Footer*/
footer {
  padding: 3rem 0;
  background-color: var(--black-1);
  border-top: 1px solid var(--gray-3);
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.footer-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer-bottom p {
  font-size: 0.9rem;
  color: var(--gray-1);
}




/*End Footer*/
