@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

    /*Colors*/

    --white-1: #fffefe;
    --white-2: #f8f8f9;

    --black-1: #323233;
    --black-2: #2d2e32;
    --black-3: #0F0F11;

    --gray-1: #818180;
    --gray-2: #555;

    /*Fonts*/
    --font-ppns: "Poppins", sans-serif; 
}
